@font-face {
	font-family: "a_AssuanBrk Bold";
	src: url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.eot"); /* IE9 Compat Modes */
	src: url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.otf") format("opentype"), /* Open Type Font */
		url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.svg") format("svg"), /* Legacy iOS */
		url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.woff") format("woff"), /* Modern Browsers */
		url("./../../assets/fonts/a-assuanbrk-bold/a-assuanbrk-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}